<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Marinar - Gestão de Marinas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 500px; /* Alterada para largura mínima */
            background-color: #29296b;
            font-size: 30px;
            padding: 20px;
            transition: width 0.1s;
        }

        .sidebar.collapsed {
            width: 100px;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            color: #000;
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }

        .sidebar ul li img {
            margin-right: 10px;
            width: 60px;
            height: 60px;
        }

        .sidebar .logo {
            margin-bottom: 50px;
        }

        .sidebar .logo img {
            max-width: 50px;
            height: 50px;
        }

        .sidebar .logout {
            position: absolute;
            bottom: 0;
        }

        .content {
            margin-left: 200px;
            padding: 20px;
        }

        .sidebar.collapsed ul li span {
            display: none;
        }

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            display: flex;
            align-items: start;
            padding: 0 10px;
            justify-content: center;
            min-height: 100vh;
            background: #ffffff;
        }
        .wrapper header{
            display: flex;
            align-items: center;
            padding: 25px 30px 10px;
            justify-content: space-between;
        }

        header .icons span{
            height: 38px;
            width: 38px;
            margin: 0 1px;
            cursor: pointer;
            color: #878787;
            text-align: center;
            line-height: 38px;
            font-size: 1.9rem;
            user-select: none;
            border-radius: 50%;
        }

        .icons span:last-child{
            margin-right: -10px;
        }

        header .icons span:hover{
            background: #f2f2f2;
        }
        th {
            padding: 10px 30px;
            text-align: center;
        }
        tr {
            margin-left: 30px;
        }
        .increased-column-spacing th,
        .increased-column-spacing td {
            padding-right: 50px; /* Ajusta o valor conforme necessário */
        }
        .agendado-cell {
            font-weight: bold;
            color: lightgreen;
        }
        .concluido-cell {
            font-weight: bold;
            color: green;
        }
        .outro-estado-cell {
            font-weight: bold;
            color: red;
        }
    </style>
</head>
<body style="background-color: #393f81">

<div class="sidebar collapsed"> <!-- Adicionada a classe collapsed -->
    <div class="logo">
        <button id="toggleSidebar" style="background: none; border: none; cursor: pointer;">
            <img src="https://img.icons8.com/FFFFFF/ios_filled/2x/menu.png" alt="Logo">
        </button>
    </div>
    <ul>
        <li>
            <a th:href="@{'/Perfil/' + ${id}}" style="color: white;">
                <img src="https://img.icons8.com/FFFFFF/fluent-systems-filled/2x/guest-male.png" alt="Imagem 1">
                <span class="hide-text">Meu Perfil</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/Embarcacoes/' + ${id}}" style="color: white;">
                <img src="https://img.icons8.com/FFFFFF/ios11/2x/dive-boat.png" alt="Imagem 2">
                <span class="hide-text">As Minhas Embarcações</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/Agendamentos/' + ${id}}" style="color: orange;">
                <img src="https://img.icons8.com/F29D38/ios11/2x/overtime.png" alt="Imagem 3">
                <span class="hide-text">Os Meus Agendamentos</span>
            </a>
        </li>
        <li>
            <a th:href="@{'/Faturas/' + ${id}}" style="color: white; margin-bottom: 400px;">
                <img src="https://img.icons8.com/FFFFFF/win10/2x/invoice.png" alt="Imagem 4">
                <span class="hide-text">As Minhas Faturas</span>
            </a>
        </li>
        <li class="logout">
            <a href="/Login" style="color: white;">
                <img src="https://img.icons8.com/FFFFFF/m_outlined/2x/logout-rounded-left.png" alt="Imagem 5">
                <span class="hide-text">LogOut</span>
            </a>
        </li>
    </ul>
</div>


<div class="content" style="background-color: white; margin-top: 75px; margin-right: 40px; border-radius: 10px;">
    <h1 class="text-center mb-1" style="margin-bottom: 10px; font-weight: bold" >Os Meus Agendamentos</h1>
    <button class="btn btn-primary" style="margin:0 0 20px 0; font-size: 20px; padding: 10px" data-toggle="modal" data-target="#myModal">Novo Agendamento</button>
    <table class="table increased-column-spacing">
        <thead>
        <tr  style="background-color: #29296b; color: white">
            <th>Data</th>
            <th>Embarcação</th>
            <th>Hora de Início</th>
            <th>Hora de Fim</th>
            <th>Extras</th>
            <th>Valor dos Extras (€)</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Cancelar</th>
        </tr>
        </thead>
        <tbody th:each="agendamento: ${agendamentos}">
        <tr style="padding: 10px 30px; text-align: center;">
            <td  th:text="${agendamento.data}"></td>
            <td  th:text="${agendamento.embarcacaoByIdembarcacao.getNome()}"></td>
            <td  th:text="${agendamento.horainicio}"></td>
            <td  th:text="${agendamento.horafim}"></td>
            <td >
                <button th:if="${agendamento.getListaEstadoAgendamentosByIdagendamento()
        [0].getEstadoAgendamentoByIdestado().getEstado()} != 'Agendado'"
                        class="btn btn-primary" data-toggle="modal" th:data-target="'#modal1-' + ${agendamento.idagendamento}">
                    Ver Extras
                </button>
                <button th:if="${agendamento.getListaEstadoAgendamentosByIdagendamento()
        [0].getEstadoAgendamentoByIdestado().getEstado()} == 'Agendado'"
                        class="btn btn-primary" data-toggle="modal" th:data-target="'#modal2-' + ${agendamento.idagendamento}">
                    Adicionar Extras
                </button>
            </td>
            <td th:text="${agendamento.valorextras}"></td>
            <td th:text="${agendamento.getListaEstadoAgendamentosByIdagendamento[0].estadoAgendamentoByIdestado.estado}" th:class="${agendamento.getListaEstadoAgendamentosByIdagendamento[0].estadoAgendamentoByIdestado.estado == 'Agendado'} ? 'agendado-cell' :
            (${agendamento.getListaEstadoAgendamentosByIdagendamento[0].estadoAgendamentoByIdestado.estado == 'Concluido'} ? 'concluido-cell' :
            'outro-estado-cell')"></td>
            <td>
            <button th:if="${agendamento.getListaEstadoAgendamentosByIdagendamento()
        [0].getEstadoAgendamentoByIdestado().getEstado()} == 'Agendado'"
                    class="btn btn-primary" data-toggle="modal" th:data-target="'#modal-' + ${agendamento.idagendamento}">Editar</button>
            </td>
            <td >
                <a th:if="${agendamento.getListaEstadoAgendamentosByIdagendamento()
        [0].getEstadoAgendamentoByIdestado().getEstado()} == 'Agendado'"
                        class="btn btn-danger delBtn" data-toggle="modal" th:href="@{'/cancel/' + ${id}(idAgen=${agendamento.idagendamento})}" data-target="#confirmDeleteModal">Cancelar</a>
            </td>
        </tr>
        </tbody>
    </table>


    <!-- Modal de Extras -->
    <div th:each="agendamento : ${agendamentos}">
        <div class="modal fade" th:id="'modal1-' + ${agendamento.idagendamento}">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-weight: bold">Ver Extras</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                        <div class="modal-body">
                            <table class="table increased-column-spacing">
                                <thead>
                                <tr style="background-color: #29296b; color: white">
                                    <th>Extra</th>
                                    <th>Preço por Unidade (€)</th>
                                    <th>Quantidade (unidade)</th>
                                    <th>Preço Total (€)</th>
                                </tr>
                                </thead>
                                <tbody th:each="extra: ${agendamento.getAgendamentoExtrasByIdagendamento()}">
                                <tr style="padding: 10px 30px; text-align: center;">
                                    <td  th:text="${extra.getExtraByIdextra().descricao}"></td>
                                    <td  th:text="${extra.getExtraByIdextra().getValoratualextra()}"></td>
                                    <td  th:text="${extra.qtd}"></td>
                                    <td  th:text="${extra.valorextra}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    <!-- Modal de Extras Adicionar-->
    <div th:each="agendamento : ${agendamentos}">
        <div class="modal fade" th:id="'modal2-' + ${agendamento.idagendamento}">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-weight: bold">Ver Extras</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary" style="margin:10px 0 20px 0; font-size: 20px; padding: 10px"
                                th:if="${agendamento.getAgendamentoExtrasByIdagendamento().size() < extras.size()}" data-toggle="modal" th:data-target="'#addExtra-' + ${agendamento.idagendamento}">Adicionar Extra</button>
                        <table class="table" style="padding-right: 10px">
                            <thead>
                            <tr style="background-color: #29296b; color: white">
                                <th>Extra</th>
                                <th>Preço por Unidade (€)</th>
                                <th>Quantidade (unidade)</th>
                                <th>Preço Total (€)</th>
                                <th>Editar Extra</th>
                                <th>Remover Extra</th>
                            </tr>
                            </thead>
                            <tbody th:each="extra: ${agendamento.getAgendamentoExtrasByIdagendamento()}">
                            <tr style="padding: 10px 30px; text-align: center;">
                                <td  th:text="${extra.getExtraByIdextra().descricao}"></td>
                                <td  th:text="${extra.getExtraByIdextra().getValoratualextra()}"></td>
                                <td  th:text="${extra.qtd}"></td>
                                <td  th:text="${extra.valorextra}"></td>
                                <td>
                                    <button class="btn btn-primary" data-toggle="modal" th:data-target="'#editExtra-' + ${agendamento.idagendamento}">Editar</button>
                                </td>
                                <td >
                                    <a class="btn btn-danger delExtBtn" data-toggle="modal" th:href="@{'/deleteExtra/' + ${extra.idextra} + '/' + ${id}(idAgen=${agendamento.idagendamento})}" data-target="#deleteExtra">Cancelar</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para adicionar Extra -->
    <div th:each="agendamento : ${agendamentos}">
        <div class="modal fade" th:id="'addExtra-' + ${agendamento.idagendamento}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Adicionar Extra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  th:action="@{'/saveExtra/' + ${id} + '/' + ${agendamento.idagendamento}}" th:object="${agendExtra}" method="post">
                    <div class="modal-body">
                        <div id="passo1">
                            <div class="form-group">
                                <label for="idextra">Extra:</label>
                                <select class="form-control"  id="idextra" name="idextra" onchange="atualizarValorExtra()">
                                    <option th:each="extra : ${extras}" th:value="${extra.idextra}" th:data-valor="${extra.valoratualextra}"
                                            th:text="${extra.descricao}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="valorExtraAtual">Valor Extra(€): </label>
                                <label id="valorExtraAtual" ></label>
                            </div>
                            <div class="form-group">
                                <label for="qtd">Quantidade(unidade):</label>
                                <input type="number" min="0" class="form-control" id="qtd" th:field="*{qtd}" value="0" required onchange="atualizarValorExtra()">
                            </div>
                            <div class="form-group">
                                <label for="valorextra">Valor Total(€): </label>
                                <input id="valorextra" type="text" th:field="*{valorextra}" readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btnVoltar" data-dismiss="modal" >Fechar</button>
                            <button type="submit" class="btn btn-success btnFinalizar">Finalizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- Modal de confirmação de cancelamento de extra -->
    <div class="modal fade" id="deleteExtra" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel" style="font-weight: bold">Remover Extra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente remover este extra?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a href="" type="button" id="deleteButton" class="btn btn-danger">Remover Extra</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para criar agendamento -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Criar Agendamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form  th:action="@{'/saveAgend/' + ${id} + '/' + ${agendamento.idagendamento}}" th:object="${agendamento}" method="post">
                <div class="modal-body">
                    <div id="passo1">
                        <div class="form-group">
                            <label for="embarcacao">Embarcação:</label>
                            <select class="form-control"  id="embarcacao" name="idembarcacao">
                                <option th:each="embarcacao : ${embarcacaos}" th:value="${embarcacao.idembarcacao}"
                                        th:text="${embarcacao.nome}" th:selected="${embarcacao.idembarcacao == agendamento.idembarcacao}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="data">Data:</label>
                            <input type="date" class="form-control" id="data" th:field="*{data}" required th:pattern="yyyy-MM-dd"/>
                        </div>

                        <div class="form-group">
                            <label for="horaInicio">Hora de Início:</label>
                            <input type="time" step="1" class="form-control" id="horaInicio" th:field="*{horainicio}" required>
                        </div>

                        <div class="form-group">
                            <label for="horaFim">Hora de Fim:</label>
                            <input type="time" step="1" class="form-control" id="horaFim" th:field="*{horafim}" required>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnVoltar" data-dismiss="modal" >Fechar</button>
                    <button type="submit" class="btn btn-success btnFinalizar">Finalizar</button>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal de confirmação de cancelamento -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel" style="font-weight: bold">Cancelar Agendamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente cancelar este agendamento?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a href="" type="button" id="deleteButton" class="btn btn-danger">Cancelar Agendamento</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de edição de agendamentos -->
    <div th:each="agendamento : ${agendamentos}">
        <div class="modal fade" th:id="'modal-' + ${agendamento.idagendamento}">
            <form th:action="@{'/editAgend/' + ${id} + '/' + ${agendamento.idagendamento}}" th:object="${agendamento}" method="post">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" style="font-weight: bold">Editar Agendamento</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                            <div class="modal-body">
                                <div id="passo1">
                                    <div class="form-group">
                                        <label for="embarcacao">Embarcação:</label>
                                        <select class="form-control"  id="embarcacao" name="idembarcacao">
                                            <option th:each="embarcacao : ${embarcacaos}" th:value="${embarcacao.idembarcacao}"
                                                    th:text="${embarcacao.nome}" th:selected="${embarcacao.idembarcacao == agendamento.idembarcacao}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="data">Data:</label>
                                        <input type="date" class="form-control" id="data" name="data" required th:pattern="yyyy-MM-dd" th:value="${agendamento.data}"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="horaInicio">Hora de Início:</label>
                                        <input type="time" step="1" class="form-control" id="horaInicio" name="horaInicio" th:value="${agendamento.horainicio}" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="horaFim">Hora de Fim:</label>
                                        <input type="time" step="1" class="form-control" id="horaFim" name="horaFim" th:value="${agendamento.horafim}" required>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btnVoltar" data-dismiss="modal" >Fechar</button>
                                        <button type="submit" class="btn btn-success btnFinalizar" >Finalizar</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#toggleSidebar').click(function() {
            $('.sidebar').toggleClass('collapsed');
        });
    });
</script>
<script>
    let tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 2);
    let tomorrowFormatted = tomorrow.toISOString().split('T')[0];
    document.getElementById("data").min = tomorrowFormatted;
</script>
<script>
    let horaInicioInput = document.getElementById('horaInicio');
    let horaFimInput = document.getElementById('horaFim');

    function validateHoras() {
        let horaInicio = horaInicioInput.value;
        let horaFim = horaFimInput.value;

        // Converter os valores para objetos Date
        let inicio = new Date('2000-01-01 ' + horaInicio);
        let fim = new Date('2000-01-01 ' + horaFim);

        // Calcular a diferença em minutos
        let diff = (fim.getTime() - inicio.getTime()) / 1000 / 60;

        if (inicio >= fim) {
            alert("A hora de início deve ser anterior à hora de fim!");
            return false;
        } else if (diff < 15) {
            alert("A diferença entre a hora de início e a hora de fim deve ser de pelo menos 15 minutos!");
            return false;
        } else {
            return true;
        }
    }
</script>
<script>
    $('.table .delBtn').on('click', function(event) {
        event.preventDefault();
        let href = $(this).attr('href');
        $('#confirmDeleteModal #deleteButton').attr('href', href);
        $('#confirmDeleteModal').modal();
    });
</script>
<script>
    $('.table .delExtBtn').on('click', function(event) {
        event.preventDefault();
        let href = $(this).attr('href');
        $('#deleteExtra #deleteButton').attr('href', href);
        $('#deleteExtra').modal();
    });
</script>

<script>
    function atualizarValorExtra() {
        // Obtém o elemento select do campo "extra"
        var selectExtra = document.getElementById('idextra');

        // Obtém o valor selecionado no campo "extra"
        var valorSelecionado = selectExtra.options[selectExtra.selectedIndex].getAttribute('data-valor');

        valorExtraAtual.textContent = valorSelecionado;

        // Obtém o valor da quantidade
        var quantidade = parseInt(document.getElementById('qtd').value);

        // Calcula o valor total
        var valorTotal = parseFloat(valorSelecionado) * quantidade;

        // Atualiza o conteúdo do campo "valorTotal"
        document.getElementById('valorextra').value = valorTotal.toFixed(2);
    }

</script>
</body>
</html>
